@font-face {
	font-family: "montserrat-bold";
	src: url("../fonts/Montserrat/Montserrat-Bold.otf");
}

.no-pointer-events {
  pointer-events: none;
}

body {
	margin: 50px;
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
	  	 -moz-user-select: none; /* Firefox */
	  		-ms-user-select: none; /* Internet Explorer/Edge */
	  				user-select: none; /* Non-prefixed version, currently
																supported by Chrome and Opera */
}
